<a href="/">Home</a>

<br>

<%= link_to "Index of Saved Courses", courses_path %>

<br>
<br>

<h2>Class Name: <%= @course.name %></h2>
<h4>Description: <%= @course.description %></h4>
<h4>Date: <%= @course.date %></h4>
<h4>Time: <%= @course.time %></h4>

